* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #7e7e7e;
  min-height: 100vh;
}

.active {
  color: #e1090a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: .4s linear;
  -o-transition: .4s linear;
  transition: .4s linear;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header.active {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-name: show__menu;
          animation-name: show__menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  width: 100%;
  background-color: #000;
}

@-webkit-keyframes show__menu {
  0% {
    opacity: 0;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show__menu {
  0% {
    opacity: 0;
    top: -200px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.menu__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  font-weight: 700;
}

.header__link:hover {
  color: #e1090a;
  border-bottom: 1px solid #e1090a;
}

.active {
  color: #e04b4b;
  font-weight: bold;
}

.header__list li {
  list-style: none;
  margin-left: 20px;
}

.contant {
  height: 10000px;
  padding-top: 100px;
}

.content__text {
  font-size: 18px;
  line-height: 25px;
}

.content__text p {
  margin-bottom: 20px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #aaa;
  text-transform: uppercase;
}

.title:before {
  content: '';
  border-left: 4px solid #bea67a;
  padding-left: 10px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.8) url("../img/people/bg_header.jpg") center center/cover no-repeat;
  background-blend-mode: multiply;
  z-index: -1;
}

.btn {
  font-size: 14px;
  color: #fff;
  background: #e1090a;
  padding: 11px 16px;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover {
  background: #fff;
  color: #e1090a;
}

.btn:last-child {
  margin-right: 0;
}

.main {
  background: rgba(0, 0, 0, 0.4) url(../img/people/bg_header.jpg) center center/cover no-repeat;
  background-blend-mode: multiply;
  position: relative;
  height: 100%;
}

.main__body {
  position: absolute;
  bottom: 200px;
  color: #fff;
}

.main__subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.main__title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 60px;
}

.main__btns {
  margin-top: 30px;
}

.main__btn-about {
  background: none;
  padding: 9px 16px;
  border: 2px solid #e1090a;
  margin-right: 60px;
}

.main__btn-about:hover {
  background: #e1090a;
  border: 2px solid #e1090a;
  color: #fff;
}

.main__block {
  position: absolute;
  bottom: 50px;
}

.social a {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.social a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.fb {
  position: relative;
}

.fb a {
  position: absolute;
  content: '';
  background: url(../img/icon/facebook.png);
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.inst {
  position: relative;
}

.inst a {
  position: absolute;
  content: '';
  background: url(../img/icon/instagram.png);
  top: 0;
  left: 50px;
  width: 24px;
  height: 24px;
}

.yt {
  position: relative;
}

.yt a {
  position: absolute;
  content: '';
  background: url(../img/icon/youtube.png);
  top: 0;
  left: 100px;
  width: 24px;
  height: 24px;
}

.about {
  padding: 120px 0 0px 0;
  background: #fff;
}

.about__block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text {
  font-size: 16px;
  line-height: 25px;
  max-width: 550px;
  font-weight: 300;
  margin: 50px 0 30px 0;
}

.about__text span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.about__btn {
  text-align: center;
}

.about__btn:hover {
  background: #bea67a;
  color: #fff;
}

.about__photo {
  max-width: 385px;
}

.about__photo img {
  max-width: 100%;
}

.why {
  padding: 120px 0 0 0;
  background: #fff;
}

.why__block {
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 15px 0 100px 60px;
  background: url(../img/check_icon.png) no-repeat;
  background-position: 0 1px;
}

.why__item-label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #232332;
  font-size: 14px;
}

.page__down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.box_wrapper .box {
  width: 24px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 12px;
  position: box_wrapperrelative;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
}

.box_wrapper .box:after,
.box_wrapper .box:before {
  content: '';
  width: 2px;
  position: absolute;
  left: 50%;
  top: 10px;
}

.box_wrapper .box:before {
  height: 2px;
  border: 2px solid #bfa67a;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  background: #bfa67a;
  -webkit-animation: animate 1s linear infinite;
  animation: animate 1s linear infinite;
}

.box_wrapper .box:after {
  height: 8px;
  border: 2px solid #fff;
  border-radius: 3px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
  background: #fff;
}

.gallary__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallary__block a {
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .25rem;
}

.gallary__block img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallary {
  padding-top: 40px;
  background: #fff;
}

.gallary__block {
  margin-top: 40px;
}

.gallary__block a {
  position: relative;
}

.gallary__block a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.gallary__block a img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  display: block;
}

.gallary__block a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #fff;
  font-weight: 500;
  display: none;
}

.services_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.video {
  padding-top: 40px;
  background: #fff;
}

.video__block {
  margin-top: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.video__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 auto;
  padding: 5px;
}

.video__item iframe {
  width: 100%;
  height: 300px;
  padding-bottom: 15px;
}

.video__btn {
  margin-top: 20px;
}

.repertoire__block {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact {
  padding: 40px 0 50px 0;
  background: #fff;
  text-align: center;
}

.contact__title {
  text-transform: uppercase;
  font-size: 24px;
  color: #000;
  margin-bottom: 40px;
  font-weight: 500;
}

.contact__label {
  max-width: 500px;
  margin: 0 auto;
}

.contact__block {
  margin: 25px auto 0 auto;
  max-width: 530px;
  border-top: 1px solid #bfbfbf;
  font-size: 14px;
  font-weight: 500;
}

.contact__phone {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0 25px 0;
}

.contact__phone span {
  text-transform: uppercase;
  background: url(../img/icon/phone.png) no-repeat;
  padding-left: 30px;
}

.contact__phone a {
  font-weight: 300;
  color: #7e7e7e;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contact__phone a:hover {
  color: #e1090a;
}

.contact__mail {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__mail span {
  text-transform: uppercase;
  background: url(../img/icon/mail.png) no-repeat;
  padding-left: 30px;
}

.contact__mail a {
  font-weight: 300;
  color: #7e7e7e;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contact__mail a:hover {
  color: #e1090a;
}

.footer__socials {
  padding: 100px 0;
  background: #111;
  text-align: center;
}

.footer__socials-label {
  color: #afafaf;
}

.footer__socials-label span {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.footer__social {
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin-right: 30px;
}

.social__item a {
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.social__item a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.social__item:last-child {
  margin-right: 0;
}

.fb2 a:before {
  content: url(../img/icon/facebook.png);
}

.inst2 a:before {
  content: url(../img/icon/instagram.png);
}

.yt2 a:before {
  content: url(../img/icon/youtube.png);
}

.footer {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.2);
  padding: 20px 0;
}

.footer__body span {
  display: block;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
  visibility: visible;
}

.downloads {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader p span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
  }

  50% {
    -webkit-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
  }

  100% {
    -webkit-transform: translate(-50%, 18px);
    transform: translate(-50%, 18px);
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translate(-50%, 6px);
    transform: translate(-50%, 6px);
  }

  50% {
    -webkit-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
  }

  100% {
    -webkit-transform: translate(-50%, 18px);
    transform: translate(-50%, 18px);
    opacity: 0;
  }
}

@media (min-width: 576px) {
  .main {
    background: none;
  }
}

@media (max-width: 1020px) {
  .title {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .menu__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 23px;
    z-index: 3;
  }

  .burger__line {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .burger__line-1 {
    top: 0;
  }

  .burger__line-2,
  .burger__line-3 {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .burger__line-4 {
    bottom: 0;
  }

  .burger__line-1.active,
  .burger__line-4.active {
    opacity: 0;
  }

  .burger__line-2.active {
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }

  .burger__line-3.active {
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
    padding: 0px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    text-align: center;
  }

  .header__menu.active {
    left: 0;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .header__list {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__list li {
    margin: 20px 0;
  }

  body.lock {
    overflow: hidden;
  }

  .header__link {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  #myVideo {
    display: none;
  }

  .main__body {
    bottom: 80px;
  }

  .main__subtitle {
    font-size: 14px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__btns {
    display: none;
  }

  .main__social {
    display: none;
  }

  .about {
    padding-top: 40px;
  }

  .about__text {
    margin: 30px 0;
    max-width: 100%;
  }

  .about__btn {
    margin: 0 auto;
    display: block;
  }

  .why {
    padding-top: 40px;
  }

  .why__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 40px 55px;
  }

  .gallary__block a img {
    max-width: 100%;
  }

  .services_item {
    padding: 14px 0 22px 55px;
  }

  .video__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .video__btn {
    margin-top: 10px;
  }

  .video__btn a {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .contact__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .contact__label {
    font-size: 14px;
  }

  .footer__socials {
    padding: 25px 0;
  }

  .footer__socials-label {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .btn {
    font-size: 10px;
  }

  .main__body {
    bottom: 80px;
  }

  .main__subtitle {
    font-size: 16px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__btns {
    margin-top: 20px;
  }

  .main__block {
    bottom: 35px;
  }

  .about__photo {
    max-width: 400px;
  }

  .video__btn {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn {
    font-size: 12px;
  }

  .main__subtitle {
    font-size: 20px;
  }

  .main__title {
    font-size: 45px;
  }

  .about__text {
    max-width: 365px;
  }

  .about__photo {
    max-width: 360px;
    margin-top: 55px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main__body {
    bottom: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main__title {
    font-size: 50px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about__photo {
    margin: 40px auto 0 auto;
  }

  .why__item-label {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .why__item {
    padding: 0 0 100px 60px;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .services_item {
    padding-top: 14px;
  }
}

@media (min-width: 320px) and (max-width: 475px) {
  .video__item iframe {
    height: 180px;
  }
}

@media (min-width: 476px) and (max-width: 575px) {
  .video__item iframe {
    height: 230px;
  }
}